/* ----------------------------------------- */
/*  Sheet Styles                             */
/* ----------------------------------------- */
/* ----------------------------------------- */
/*  Flexbox                                  */
/* ----------------------------------------- */
.flexrow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.flexrow > * {
  flex: 1;
}
.flexrow .flex1 {
  flex: 1;
}
.flexrow .flex2 {
  flex: 2;
}
.flexrow .flex3 {
  flex: 3;
}
.flexrow .flex4 {
  flex: 4;
}
.flexcol {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.flexcol > * {
  flex: 1;
}
.flexcol .flex1 {
  flex: 1;
}
.flexcol .flex2 {
  flex: 2;
}
.flexcol .flex3 {
  flex: 3;
}
.flexcol .flex4 {
  flex: 4;
}
/* ----------------------------------------- */
/*  Sheet Styles                             */
/* ----------------------------------------- */
/* ----------------------------------------- */
/*  Grids                                    */
/* ----------------------------------------- */
.grid-container {
  display: grid;
  grid-template-columns: auto;
}
.grid-container-two {
  display: grid;
  grid-template-columns: auto auto;
}
.grid-container-three {
  display: grid;
  grid-template-columns: auto auto auto;
}
.grid-container-four {
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.grid-container-eight {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  font-family: "Modesto Condensed", "Palatino Linotype", serif;
}
.grid-item {
  text-align: center;
}
.grid-item-padded {
  text-align: center;
  padding-bottom: 3px;
}
.grid-item-padded input[type="text"]{
  /* border-color: #8a8379; */
  border: 0;
}
.grid-item-attributes {
  text-align: center;
  border: 2px groove #eeede0;
  width: 85px;
}
/* ----------------------------------------- */
/*  Sheet Styles                             */
/* ----------------------------------------- */
/* ----------------------------------------- */
/*  Others                                   */
/* ----------------------------------------- */
.profile-picture {
  width: 150px;
  height: 150px;
}
.glow:hover {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}
.rollable:hover, .rollable:focus {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}
.small-image {
  width: 25px;
  height: 25px;
  border: 0;
}
.name-header input[type="text"]{
  height: 40px;
  font-family: "Modesto Condensed", "Palatino Linotype", serif;
}
input.borderless-input {
  border: 0;
}
input.borderless-input-small {
  border: 0;
  font-size: 12px;
  background-color: transparent;
  color: gray;
}
input.long {
  height: 65px;
  font-size: 24px;
}
.sheet-tabs {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
}
.sheet-navigation {
  flex: 0 0 30px;
  margin-bottom: 5px;
  font-family: "Modesto Condensed", "Palatino Linotype", serif;
  font-size: 20px;
  font-weight: 700;
}
.sheet-navigation .item {
  height: 30px;
  line-height: 32px;
  margin: 0 24px;
  border-bottom: 3px solid #b5b3a4;
}
.sheet-navigation .item.active {
  border-bottom: 3px solid #44191A;
}
.sheet-body {
  flex: 1;
  overflow: hidden;
}
.small-gray-text {
  font-size: 8px;
  color: gray;
}
.medium-gray-text {
  font-size: 10px;
  color: gray;
}
