<section class="center-pane flexcol">
  <div class="overview grid-item grid-container">
    <div class="grid-container grid-row-squish" style="border: 2px groove #eeede0;">
      <div class="grid-item-inline mini-header" style="height: 30px; border-bottom: 2px groove #eeede0;">
        <label class="fancy-font" style="font-size: 26px;">Assets</label>
      </div>
      <div class="grid-item">
        <div class="inventory-filters flexrow">
            <ul class="filter-list flexrow" data-filter="abilities">
                <li class="filter-item" data-filter="attunement">Attunement</li>
                <li class="filter-item" data-filter="equipped">Equipped</li>
                <li class="filter-item" data-filter="inventory">Inventory</li>
                <li class="filter-item" data-filter="weapon">Weapon</li>
                <li class="filter-item" data-filter="equipment">Equipment</li>
                <li class="filter-item" data-filter="proficiency">Proficiency</li>
            </ul>
        </div>

        <ol class="items-list inventory-list">
          <li class="items-header flexrow">
            <h3 class="item-name flexrow">Assets</h3>

            <div class="item-detail">Quantity</div>
            <div class="item-detail">Bulk</div>
            <div class="item-detail">Usages</div>

            <div class="item-controls flexrow">
              <a class="item-control item-create" title="Add" data-type="object">
                <i class="fas fa-plus"></i> Add
              </a>
            </div>
          </li>

          <ol class="item-list">
          {{#each filtered_inventory as |item id|}}
            <li class="item flexrow" data-item-id="{{item._id}}">
              <div class="item-name flexrow rollable">
                <div class="item-image" tabindex="0" role="button" aria-label="{{item.name}}" style="background-image: url('{{item.img}}')"></div>
                <h4>
                  {{item.name}}
                </h4>
              </div>

              <div class="item-detail">
                {{item.details.quantity}}
              </div>
              <div class="item-detail">
                {{item.details.bulk}}
              </div>
              <div class="item-detail">
                {{item.data.details.usages.value}}/{{item.data.details.usages.max}}
              </div>

              <div class="item-controls flexrow">
                <a class="item-control item-edit" title="Edit"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="Delete"><i class="fas fa-trash"></i></a>
              </div>
            </li>
          {{/each}}
          </ol>
        </ol>

      </div>

      <div class="grid-item" style="height: 15px;"/>

    </div>

  </div>
</section>
