<section class="center-pane flexcol">
  <div class="overview grid-item grid-container">
    <div class="grid-container grid-row-squish" style="border: 2px groove #eeede0;">
      <div class="grid-item-inline mini-header" style="height: 30px; border-bottom: 2px groove #eeede0;">
        <label class="fancy-font" style="font-size: 26px;">Character Abilities</label>
      </div>
      <div class="grid-item">
        <div class="inventory-filters flexrow">
            <!-- <ul class="filter-list flexrow" data-filter="abilities">
                <li class="filter-item" data-filter="feature">Feature</li>
                <li class="filter-item" data-filter="action">Action</li>
                <li class="filter-item" data-filter="attack">Attack</li>
                <li class="filter-item" data-filter="reaction">Reaction</li>
            </ul> -->
        </div>

        <ol class="items-list inventory-list">

        </ol>

      </div>

    </div>

  </div>
</section>
