<section class="center-pane flexcol">
  <div class="overview grid-item grid-container" style="align-content: flex-start;">

    <div class="grid-container groove" style="">
      <div class="grid-container grid-item mini-header" style="height: 30px; border-bottom: 2px groove #eeede0;">
        <label class="fancy-font" style="font-size: 26px;">Property Modifiers</label>
      </div>
      <div class="grid-container" style="">

        <div class="grid-container">
          <div class="grid-item-left">
            <label class="fancy-font" style="font-size: 18px;">Auramancy</label>
          </div>
          <div class="grid-item-left">
            <label style="font-size: 12px;"><b>Aether Reserve:</b></label>
            <input type="text" class="input-small-inline" name="data.health.reserve.mod" value="{{data.health.reserve.mod}}" placeholder="0" data-dtype="Number"/>
          </div>
          <div class="grid-item-left">
            <label style="font-size: 12px;"><b>Aether Well:</b></label>
            <input type="text" class="input-small-inline" name="data.auramancy.charges.mod" value="{{data.auramancy.charges.mod}}" placeholder="0" data-dtype="Number"/>
          </div>
        </div>
        <br>

        <div class="grid-container">
          <div class="grid-item-left">
            <label class="fancy-font" style="font-size: 18px;">Health</label>
          </div>
          <div class="grid-item-left">
            <label style="font-size: 12px;"><b>Max HP:</b></label>
            <input type="text" class="input-small-inline" name="data.health.hp.mod" value="{{data.health.hp.mod}}" placeholder="0" data-dtype="Number"/>
          </div>
        </div>
        <br>

        <div class="grid-container">
          <div class="grid-item-left">
            <label class="fancy-font" style="font-size: 18px;">Capacity</label>
          </div>
          <div class="grid-item-left">
            <label style="font-size: 12px;"><b>Carrying Capacity:</b></label>
            <input type="text" class="input-small-inline" name="data.traits.carrying_capacity.mod" value="{{data.traits.carrying_capacity.mod}}" placeholder="0" data-dtype="Number"/>
          </div>
          <div class="grid-item-left">
            <label style="font-size: 12px;"><b>Default Carry:</b></label>
            <input type="text" class="input-small-inline" name="data.traits.carrying_capacity.default_carry_mod" value="{{data.traits.carrying_capacity.default_carry_mod}}" placeholder="0" data-dtype="Number"/>
          </div>
        </div>
        <br>

        <div class="grid-container">
          <div class="grid-item-left">
            <label class="fancy-font" style="font-size: 18px;">Stats</label>
          </div>
          <div class="grid-item-left">
            <label style="font-size: 12px;"><b>Unarmored AC Base:</b></label>
            <input type="text" class="input-small-inline" name="data.stats.ac.unarmored_base" value="{{data.stats.ac.unarmored_base}}" placeholder="8" data-dtype="Number"/>
          </div>
        </div>
        <br>

        <div class="grid-container">
          <div class="grid-item-left">
            <label class="fancy-font" style="font-size: 18px;">Attributes</label>
          </div>
          <div class="grid-item-left">
            <label style="font-size: 12px;"><b>Passive Strength:</b></label>
            <input type="text" class="input-small-inline" name="data.attributes.str.passive_mod" value="{{data.attributes.str.passive_mod}}" placeholder="0" data-dtype="Number"/>
          </div>
          <div class="grid-item-left">
            <label style="font-size: 12px;"><b>Passive Agility:</b></label>
            <input type="text" class="input-small-inline" name="data.attributes.agi.passive_mod" value="{{data.attributes.agi.passive_mod}}" placeholder="0" data-dtype="Number"/>
          </div>
          <div class="grid-item-left">
            <label style="font-size: 12px;"><b>Passive Dexterity:</b></label>
            <input type="text" class="input-small-inline" name="data.attributes.dex.passive_mod" value="{{data.attributes.dex.passive_mod}}" placeholder="0" data-dtype="Number"/>
          </div>
          <div class="grid-item-left">
            <label style="font-size: 12px;"><b>Passive Constitution:</b></label>
            <input type="text" class="input-small-inline" name="data.attributes.con.passive_mod" value="{{data.attributes.con.passive_mod}}" placeholder="0" data-dtype="Number"/>
          </div>
          <div class="grid-item-left">
            <label style="font-size: 12px;"><b>Passive Intellect:</b></label>
            <input type="text" class="input-small-inline" name="data.attributes.int.passive_mod" value="{{data.attributes.int.passive_mod}}" placeholder="0" data-dtype="Number"/>
          </div>
          <div class="grid-item-left">
            <label style="font-size: 12px;"><b>Passive Willpower:</b></label>
            <input type="text" class="input-small-inline" name="data.attributes.will.passive_mod" value="{{data.attributes.will.passive_mod}}" placeholder="0" data-dtype="Number"/>
          </div>
          <div class="grid-item-left">
            <label style="font-size: 12px;"><b>Passive Perception:</b></label>
            <input type="text" class="input-small-inline" name="data.attributes.per.passive_mod" value="{{data.attributes.per.passive_mod}}" placeholder="0" data-dtype="Number"/>
          </div>
          <div class="grid-item-left">
            <label style="font-size: 12px;"><b>Passive Charisma:</b></label>
            <input type="text" class="input-small-inline" name="data.attributes.cha.passive_mod" value="{{data.attributes.cha.passive_mod}}" placeholder="0" data-dtype="Number"/>
          </div>
        </div>
        <br>

      </div>
    </div>

  </div>
</section>
