<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <div class="grid-item-inline header-fields">
      <h1 class="charname fancy-font"><input type="text" value="{{item.name}}" placeholder="Name" style="font-size: 32px; text-align: center;" disabled="disabled"/></h1>
    </div>
  </header>

  <br>

  {{!-- Sheet Body --}}
  <section class="sheet-body">


    <div class="grid-container groove">
      <div class="grid-item">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64" style="border: none;"/>
      </div>
      {{#each item.data.chatdata as |chatdata|}}
      <div class="grid-container-two-card">
        {{#each chatdata}}
          <div class="grid-item-left">
            <label>
            {{#ifEquals @index 0}}
              <b>{{this}}</b>
            {{/ifEquals}}
            {{#ifEquals @index 1}}
              {{this}}
            {{/ifEquals}}
            </label>
          </div>
        {{/each}}
      </div>
      {{/each}}
      {{!-- Description Tab --}}
      <div class="tab grid-item-left" style="">
        <b>Description:</b>
        {{{item.data.description}}}
      </div>
    </div>

  </section>
</form>
