<form autocomplete="off">

  <p class="notes">Damage Selection.</p>

  <div class="grid-container">
    <div class="grid-item" style="border: 2px groove #eeede0;">
      <label style="font-size: 16px;">Damage {{name}}</label>
    </div>
    <div class="grid-container-three">
      <div class="grid-container">
        <div class="grid-item">
          <label style="font-size: 12px;">Damage Type</label>
        </div>
        <div class="grid-item">
          <select name="choiceType" style="font-size: 10px; width: 80px;">
            {{selectOptions damage_types}}
          </select>
        </div>
      </div>
      <div class="grid-container">
        <div class="grid-item">
          <label style="font-size: 12px;">Damage Subtype</label>
        </div>
        <div class="grid-item">
          <select name="choiceSubtype" style="font-size: 10px; width: 100px;">
            {{selectOptions damage_subtypes}}
          </select>
        </div>
      </div>
      <div class="grid-container">
        <div class="grid-item">
          <label style="font-size: 12px;">Amount</label>
        </div>
        <div class="grid-item">
          <input class="input-medium" name="choiceAmount" type="text"/>
        </div>
      </div>
    </div>
    <div class="grid-item" style="height: 5px;">

    </div>
    <div class="grid-container" style="padding-top: 5px; border: 2px groove #eeede0;">
      <div class="grid-item">
        <label style="font-size: 14px;">Current Values:</label>
      </div>
      <div class="grid-item">
        <p class="notes">You may uncheck any of the following if you wish to delete it.</p>
      </div>
    </div>
    <div class="grid-container" style="float: left; text-align: left;">
      {{#each current_values}}
      <label class="checkbox">
        <input type="checkbox" name="{{this}}" data-dtype="Boolean" checked/>{{this}}
      </label>
      {{/each}}
    </div>
    <div class="grid-item" style="height: 15px;">

    </div>
  </div>


  <button type="submit" name="submit" value="1"><i class="far fa-save"></i>Submit</button>

</form>
