<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields">
      <h1 class="charname fancy-font"><input name="name" type="text" value="{{item.name}}" placeholder="Name" style="font-size: 32px; text-align: center;" /></h1>
    </div>
  </header>

  <br>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    <div class="grid-container groove">
      <div class="grid-item groove-bottom mini-header">
        <label class="fancy-font" style="font-size: 26px; text-align: center;">Ability</label>
      </div>

      <div class="grid-item-left">
        <!-- <details> -->
          <summary class="groove-bottom groove-top mini-header fancy-font" style="font-size: 16px;">Prerequisites</summary>
          <div class="grid-container">
            <div class="grid-container-two-item">
              <div class="grid-item-left">
                <label>Prerequisites: </label>
              </div>
              <div class="grid-item-left">
                <input type="text" class="input-medium-inline-long" name="data.prerequisites" value="{{data.prerequisites}}" placeholder="If applicable."/>
              </div>
            </div>
          </div>
        <!-- </details> -->
      </div>

      <div class="grid-item-left">
        <!-- <details> -->
          <summary class="groove-bottom groove-top mini-header fancy-font" style="font-size: 16px;">Category</summary>
          <div class="grid-container">
            <div class="grid-container-two-item">
              <div class="grid-item-left">
                <label>Prefix: </label>
              </div>
              <div class="grid-item-left">
                <select name="data.category.prefix" style="font-size: 8px; width: 80px; height: 20px;">
  								{{selectOptions config.abilityPrefixes selected=data.category.prefix}}
  							</select>
              </div>
            </div>
            <div class="grid-container-two-item">
              <div class="grid-item-left">
                <label>Category: </label>
              </div>
              <div class="grid-item-left">
                <select name="data.category.category" style="font-size: 8px; width: 80px; height: 20px;">
  								{{selectOptions config.abilityCategories selected=data.category.category}}
  							</select>
              </div>
            </div>
            <div class="grid-container-two-item">
              <div class="grid-item-left">
                <label>Source: </label>
              </div>
              <div class="grid-item-left">
                <select name="data.category.source" style="font-size: 8px; width: 80px; height: 20px;">
                  {{selectOptions config.abilitySources selected=data.category.source}}
                </select>
              </div>
            </div>
            <div class="grid-container-two-item">
              <div class="grid-item-left">
                <label>Other: </label>
              </div>
              <div class="grid-item-left">
                <input type="text" class="input-medium-inline-long" name="data.category.other" value="{{data.category.other}}" placeholder="Separate by commas."/>
              </div>
            </div>
          </div>
        <!-- </details> -->
      </div>

      <div class="grid-item-left">
        <!-- <details> -->
          <summary class="groove-bottom groove-top mini-header fancy-font" style="font-size: 16px;">Trigger (Reaction Only)</summary>
          <div class="grid-container">
            <div class="grid-container-two-item">
              <div class="grid-item-left">
                <label>Trigger: </label>
              </div>
              <div class="grid-item-left">
                <input type="text" class="input-medium-inline-long" name="data.trigger" value="{{data.trigger}}" placeholder="Only for Reactions."/>
              </div>
            </div>
          </div>
        <!-- </details> -->
      </div>

      <div class="grid-item-left">
        <!-- <details> -->
          <summary class="groove-bottom groove-top mini-header fancy-font" style="font-size: 16px;">Type (Attack Only)</summary>
          <div class="grid-container">
            <div class="grid-container-two-item">
              <div class="grid-item-left">
                <label>Type: </label>
              </div>
              <select name="data.type.type" style="font-size: 8px; width: 80px; height: 20px;">
                {{selectOptions config.attackTypes selected=data.type.type}}
              </select>
            </div>
            <div class="grid-container-two-item">
              <div class="grid-item-left">
                <label>Subtype: </label>
              </div>
              <select name="data.type.subtype" style="font-size: 8px; width: 80px; height: 20px;">
                {{selectOptions config.attackSubtypes selected=data.type.subtype}}
              </select>
            </div>
          </div>
        <!-- </details> -->
      </div>

      <div class="grid-item-left">
        <!-- <details> -->
          <summary class="groove-bottom groove-top mini-header fancy-font" style="font-size: 16px;">Magical</summary>
          <div class="grid-container">
            <div class="grid-container-two-item">
              <div class="grid-item-left">
                <label>Magical: </label>
              </div>
              <select name="data.magical.magical" style="font-size: 8px; width: 80px; height: 20px;">
                {{selectOptions config.magicalOptions selected=data.magical.magical}}
              </select>
            </div>
            <div class="grid-container-two-item">
              <div class="grid-item-left">
                <label>Tier: </label>
              </div>
              <div class="grid-item-left">
                <input type="text" class="input-medium-inline" name="data.magical.tier" value="{{data.magical.tier}}" placeholder="0" data-dtype="Number"/>
              </div>
            </div>
            <div class="grid-container-two-item">
              <div class="grid-item-left">
                <label>School: </label>
              </div>
              <select name="data.magical.school" style="font-size: 8px; width: 80px; height: 20px;">
                {{selectOptions config.magicSchools selected=data.magical.school}}
              </select>
            </div>
            <div class="grid-container-two-item">
              <div class="grid-item-left">
                <label>Components: </label>
              </div>
              <div class="grid-item-left">
                <input type="text" class="input-medium-inline-long" name="data.magical.components" value="{{data.magical.components}}" placeholder="V, S, and/or M."/>
              </div>
            </div>
            <div class="grid-container-two-item">
              <div class="grid-item-left">
                <label>Materials: </label>
              </div>
              <div class="grid-item-left">
                <input type="text" class="input-medium-inline-long" name="data.magical.material" value="{{data.magical.material}}" placeholder="If applicable."/>
              </div>
            </div>
            <div class="grid-container-two-item">
              <div class="grid-item-left">
                <label>Other: </label>
              </div>
              <div class="grid-item-left">
                <input type="text" class="input-medium-inline-long" name="data.magical.other" value="{{data.magical.other}}" placeholder="If applicable."/>
              </div>
            </div>
          </div>
        <!-- </details> -->
      </div>

      <div class="grid-item-left">
        <!-- <details> -->
          <summary class="groove-bottom groove-top mini-header fancy-font" style="font-size: 16px;">Duration</summary>
          <div class="grid-container">
            <div class="grid-container-two-item">
              <div class="grid-item-left">
                <label>Time: </label>
              </div>
              <div class="grid-item-left">
                <input type="text" class="input-medium-inline-long" name="data.duration.time" value="{{data.duration.time}}" placeholder="ex. Until Dismissed."/>
              </div>
            </div>
            <div class="grid-container-two-item">
              <div class="grid-item-left">
                <label>Dismissable: </label>
              </div>
              <div class="checkbox">
                <input type="checkbox" name="data.duration.dismissable" data-dtype="Boolean"
                 {{checked data.duration.dismissable}}/>
              </div>
            </div>
            <div class="grid-container-two-item">
              <div class="grid-item-left">
                <label>Dismiss: </label>
              </div>
              <div class="grid-item-left">
                <input type="text" class="input-medium-inline" name="data.duration.dismiss" value="{{data.duration.dismiss}}" placeholder="0" data-dtype="Number"/>
              </div>
            </div>
          </div>
        <!-- </details> -->
      </div>

      <div class="grid-item-left">
        <!-- <details> -->
          <summary class="groove-bottom groove-top mini-header fancy-font" style="font-size: 16px;">Concentration</summary>
          <div class="grid-container">
            <div class="grid-container-two-item">
              <div class="grid-item-left">
                <label>Concentration: </label>
              </div>
              <div class="checkbox">
                <input type="checkbox" name="data.concentration" data-dtype="Boolean"
                 {{checked data.concentration}}/>
              </div>
            </div>
          </div>
        <!-- </details> -->
      </div>

      <div class="grid-item-left">
        <!-- <details> -->
          <summary class="groove-bottom groove-top mini-header fancy-font" style="font-size: 16px;">Usages</summary>
          <div class="grid-container">
            <div class="grid-container-two-item">
              <div class="grid-item-left">
                <label>Usages: </label>
              </div>
              <div class="grid-item-left">
                <input type="text" class="input-medium-inline" name="data.usages.max" value="{{data.usages.max}}" placeholder="0" data-dtype="Number"/>
              </div>
            </div>
          </div>
        <!-- </details> -->
      </div>

      <div class="grid-item-left">
        <!-- <details> -->
          <summary class="groove-bottom groove-top mini-header fancy-font" style="font-size: 16px;">Recharge</summary>
          <div class="grid-container">
            <div class="grid-container-two-item">
              <div class="grid-item-left">
                <label>Condition(s): </label>
              </div>
              <div class="grid-item-left">
                <input type="text" class="input-medium-inline-long" name="data.recharge" value="{{data.recharge}}" placeholder="Separate by commas."/>
              </div>
            </div>
          </div>
        <!-- </details> -->
      </div>

      <div class="grid-item-left">
        <!-- <details> -->
          <summary class="groove-bottom groove-top mini-header fancy-font" style="font-size: 16px;">Cost</summary>
          <div class="grid-container">
            <div class="grid-container-two-item">
              <div class="grid-item-left">
                <label>AP: </label>
              </div>
              <div class="grid-item-left">
                <input type="text" class="input-medium-inline" name="data.cost.ap" value="{{data.cost.ap}}" placeholder="0" data-dtype="Number"/>
              </div>
            </div>
            <div class="grid-container-two-item">
              <div class="grid-item-left">
                <label>Charges: </label>
              </div>
              <div class="grid-item-left">
                <input type="text" class="input-medium-inline" name="data.cost.charges" value="{{data.cost.charges}}" placeholder="0" data-dtype="Number"/>
              </div>
            </div>
            <div class="grid-container-two-item">
              <div class="grid-item-left">
                <label>Usages: </label>
              </div>
              <div class="grid-item-left">
                <input type="text" class="input-medium-inline" name="data.cost.usages" value="{{data.cost.usages}}" placeholder="0" data-dtype="Number"/>
              </div>
            </div>
            <div class="grid-container-two-item">
              <div class="grid-item-left">
                <label>Time: </label>
              </div>
              <div class="grid-item-left">
                <input type="text" class="input-medium-inline-long" name="data.cost.time" value="{{data.cost.time}}" placeholder="If applicable."/>
              </div>
            </div>
            <div class="grid-container-two-item">
              <div class="grid-item-left">
                <label>Material: </label>
              </div>
              <div class="grid-item-left">
                <input type="text" class="input-medium-inline-long" name="data.cost.material" value="{{data.cost.material}}" placeholder="If applicable."/>
              </div>
            </div>
            <div class="grid-container-two-item">
              <div class="grid-item-left">
                <label>Other: </label>
              </div>
              <div class="grid-item-left">
                <input type="text" class="input-medium-inline-long" name="data.cost.other" value="{{data.cost.other}}" placeholder="Separate by commas."/>
              </div>
            </div>
            <div class="grid-container-two-item">
              <div class="grid-item-left">
                <label>Ritual: </label>
              </div>
              <div class="checkbox">
                <input type="checkbox" name="data.cost.ritual" data-dtype="Boolean"
                 {{checked data.cost.ritual}}/>
              </div>
            </div>
          </div>
        <!-- </details> -->
      </div>

      <div class="grid-item-left">
        <!-- <details> -->
          <summary class="groove-bottom groove-top mini-header fancy-font" style="font-size: 16px;">Range</summary>
          <div class="grid-container">
            <div class="grid-container-two-item">
              <div class="grid-item-left">
                <label>Distance: </label>
              </div>
              <div class="grid-item-left">
                <input type="text" class="input-medium-inline-long" name="data.range.distance" value="{{data.range.distance}}" placeholder="ex. Self, or 20."/>
              </div>
            </div>
            <div class="grid-container-two-item">
              <div class="grid-item-left">
                <label>Unit: </label>
              </div>
              <select name="data.range.unit" style="font-size: 8px; width: 80px; height: 20px;">
                {{selectOptions config.movementUnits selected=data.range.unit}}
              </select>
            </div>
          </div>
        <!-- </details> -->
      </div>

      <div class="grid-item-left">
        <!-- <details> -->
          <summary class="groove-bottom groove-top mini-header fancy-font" style="font-size: 16px;">Area</summary>
          <div class="grid-container">
            <div class="grid-container-two-item">
              <div class="grid-item-left">
                <label>Dimensions: </label>
              </div>
              <div class="grid-item-left">
                <input type="text" class="input-medium-inline-long" name="data.area.dimensions" value="{{data.area.dimensions}}" placeholder="ex. 1x1."/>
              </div>
            </div>
            <div class="grid-container-two-item">
              <div class="grid-item-left">
                <label>Shape: </label>
              </div>
              <select name="data.area.shape" style="font-size: 8px; width: 80px; height: 20px;">
                {{selectOptions config.shapes selected=data.area.shape}}
              </select>
            </div>
          </div>
        <!-- </details> -->
      </div>

      <div class="grid-item" style="height: 15px;"/>
    </div>

    {{!-- Description Tab --}}
    <div class="tab groove" style="height: 200px;">
      <div class="groove-bottom mini-header">
        <label class="fancy-font" style="font-size: 16px;">Description:</label>
      </div>
      {{editor content=data.description target="data.description" rollData=rollData button=true owner=owner editable=editable}}
    </div>

  </section>
</form>
